.contact__container {
    margin-top: 3rem;
    padding: 3rem 8rem;
    margin: 0 4rem;
}

@media screen and (max-width: 1080px) {
    .contact__container {
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 860px) {
    .contact__container {
        padding: 2rem 1rem;
        margin: 0;
    }
}